@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Alegreya+Sans:wght@400;700;800&display=swap');

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 9, 125);
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

h2 {
    font-family: 'Exo 2', sans-serif;
}

/* Logo */
.logo {
    height: 200px;
    display: flex;
    align-items: center;
    margin-top: -30px;
    width: max-content;
}

.logo:hover {
    cursor: pointer;
}

.logo-img {
    width: 200px;
    margin-left: -40px;

}

.logo-text {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    margin-left: -40px;

}

/* Main Content */
#main_body {
    background-color: black;
}

#main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full viewport height */
    text-align: center;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    position: relative;
}

#main_text h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 200px;
    margin-top: 0;
}

/* Pages */
.pages {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.pages-text {
    margin: auto;
}

.pages:hover {
    cursor: pointer;
}

/* About Section */
#about {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(240deg) translate(350px) rotate(-240deg);
}

#about h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Speakers Section */
#speaker-page {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(300deg) translate(350px) rotate(-300deg);
}

#speaker-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Schedule Section */
#schedule {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(350px) rotate(0deg);
}

#schedule h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Venue Section */
#venue {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg) translate(350px) rotate(-60deg);
}

#venue h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Team Section */
#team-page {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg) translate(350px) rotate(-120deg);
}

#team-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Previous Edition Section */
#previous-edition {
    top: 54.25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) translate(350px) rotate(-180deg);
}

#previous-edition h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
}

/* Ticket Section */
#ticket-page {
    width: 150px;
    height: 45px;
    background-color: rgb(27, 9, 125);
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -35vh auto;
    cursor: pointer;
}

#ticket-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    margin: 0;
    line-height: 45px;
}

/* Speaker Page */
#speaker_title {
    font-size: 100px;
    margin-top: -50px;
    text-align: center;
}

#main_speaker_card {
    display: flex;
    justify-content: center;
    /* on start */
    visibility: hidden;
    height: 0;
}

#main_speaker_image {
    height: 400px;
    border-radius: 200px;
    margin-left: 0;
    margin-right: 10vw;
}

#speaker_logo {
    height: 80px;
    float: inline-end;
    margin-top: 50px;
    margin-right: 100px;
}

#main_speaker_text {
    width: 30vw;
    text-align: justify;
}

#main_speaker_text h1 {
    font-size: 54px;
    font-weight: 800;
}

#main_speaker_text h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -40px;
}

#main_speaker_text p {
    font-size: 20px;
}

#more_speakers_title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
    padding-bottom: 50px;
    /* on start */
    visibility: hidden;
    height: 0;
}

#more_speakers_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -150px;
}

.speaker_card {
    background-color: #6B717E;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 50px;
}

.speaker_card h1 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
}

.speaker_card h2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}

.speaker_card p {
    margin-left: 20px;
}

.speaker_card .speaker_description {
    font-size: 0px;
    visibility: hidden;
}

.speaker_card:hover {
    cursor: pointer;
}

.speaker_image {
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Team Page */
#team_wrapper {
    display: flex;
}

#team_text {
    width: 20%;
    padding: 20px;
}

#team_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: -100px;
}

#team_title {
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

#team_info {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.team_card {
    margin-bottom: -10px;
}

.team_image {
    width: 200px;
    border-radius: 20px;
}

.team_background {
    width: 320px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(to right, #4911a0, #330d90, #4911a0);
    border: 2px solid #e29eff;
}

/* Venue Page */
#venue_map {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
}

#venue_title {
    font-size: 54px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

#venue_text {
    margin-left: 150px;
}

/* Schedule Page */
#schedule_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#schedule_title {
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

#schedule_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.schedule_day {
    background-color: #6B717E;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 500px;
    text-align: center;
}

.schedule_day h2, .schedule_day h3, .schedule_day h4, .schedule_day p {
    margin: 10px 0;
}

.schedule_day h2 {
    font-size: 36px;
    font-weight: 700;
}

.schedule_day h3 {
    font-size: 24px;
    font-weight: 400;
}

.schedule_day h4 {
    font-size: 20px;
    font-weight: 400;
}

.schedule_day p {
    font-size: 18px;
    font-weight: 400;
}

/* About Page */
#about_title{
    width: max-content;
    height: max-content;
    border-left: 10px solid rgb(86, 1, 157);
    padding-left: 10px;
    margin-left: 70px;
}

#about_title h2 {
    font-size: 40px;
}

#about_title h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 40px;
}

#about_text {
    background-color: rgb(44, 4, 103);
    width: 500px;
    height: 300px;
    padding: 20px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative; /* Add this line */
    z-index: 1; /* Add this line */
}

#about_text p {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.about_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-left: 50px;
}

.about_handle {
    background-color: rgb(86, 1, 157);
    width: 20px;
    height: 100px;
    position: absolute;
    z-index: 2;
    clip-path: polygon(0% 0%, 45% 0%, 100% 15%, 100% 85%, 45% 100%, 0% 100%);
}

#about_handle_left {
    left: 15px;
}

#about_handle_right {
    left: 545px;
    transform: scaleX(-1);
}

#contact-us {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 80px;
    font-weight: 800;
}

#media_container {
    background-color: black;
    width: 500px;
    height: 800px;
    position: absolute;
    top: 300px;
    right: 55px;
}