@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Alegreya+Sans:wght@400;700;800&display=swap');

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 9, 125);
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

h2 {
    font-family: 'Exo 2', sans-serif;
}

/* Logo */
.logo {
    height: min-content;
    display: flex;
    align-items: center;
    margin-top: min(-2vh, -2vw);
    width: max-content;
    top: 0;
    left: 0;
}

.logo:hover {
    cursor: pointer;
}

.logo-img {
    width: min(25vh, 25vw);
    margin-left: min(-1.25vh, -1.25vw);

}

.logo-text {
    font-size: min(3.3vh, 3.3vw);
    margin-left: min(-1vh, -1vw);
}

/* Back Button */
.button {
    display: block;
    position: absolute;
    right: min(20px, 1vw);
    top: min(20px, 1vw);
    width: 56px;
    height: 56px;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.button:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
    border: 4px solid rgb(226, 158, 255);
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.button:hover:before,
.button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
}

/* Main Content */
#index_logo {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

#main_body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main_text {
    color: white;
    text-align: center;
    position: absolute;
}

#main_text h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: min(22vh, 22vw);
    margin-top: min(12vw, 12vh);
}

/* Pages */
.pages {
    width: min(15vh, 15vw);
    height: min(15vh, 15vw);
    border-radius: min(20vh, 20vw);
    background-color: #000077;
    text-align: center;
    padding: min(2vh, 2vw);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.pages-text {
    margin: auto;
}

.pages:hover {
    cursor: pointer;
}

/* About Section */
#about {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(240deg) translate(min(30vh, 30vw)) rotate(-240deg);
}

#about h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(6vw, 6vh);
    margin-top: min(3.5vw, 3.5vh);
}

/* Speakers Section */
#speaker-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(300deg) translate(min(30vh, 30vw)) rotate(-300deg);
}

#speaker-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(4.5vw, 4.5vh);
    margin-top: min(3vw, 3vh);
}

/* Schedule Section */
#schedule {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(min(30vh, 30vw)) rotate(0deg);
}

#schedule h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(4.5vw, 4.5vh);
    margin-top: min(3vw, 3vh);
}

/* Venue Section */
#venue {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg) translate(min(30vh, 30vw)) rotate(-60deg);
}

#venue h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(6vw, 6vh);
    margin-top: min(3.5vw, 3.5vh);
}

/* Team Section */
#team-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg) translate(min(30vh, 30vw)) rotate(-120deg);
}

#team-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(5vw, 5vh);
    margin-top: min(1.25vw, 1.25vh);
}

/* Previous Edition Section */
#previous-edition {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) translate(min(30vh, 30vw)) rotate(-180deg);
}

#previous-edition h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(4.5vw, 4.5vh);
    margin-top: min(2.5vw, 2.5vh);
}

/* Ticket Section */
#ticket-page {
    width: min(15vh, 15vw);
    height: min(5vh, 5vw);
    background-color: rgb(86, 1, 157);
    text-align: center;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: min(25vh, 25vw);
    cursor: pointer;
}

#ticket-page h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: min(2.4vh, 2.4vw);
    margin: 0;
    line-height: min(4.5vh, 4.5vw);
}

/* Speaker Page */
#speaker_title {
    font-size: min(5vw, 10vh);
    margin-top: min(1vw, 2vh);
    text-align: center;
}

#main_speaker_card {
    display: flex;
    justify-content: center;
    /* on start */
    visibility: hidden;
    height: 0;
}

#main_speaker_image {
    height: min(20vw, 40vh);
    border-radius: min(10vw, 20vh);
    margin-left: 0;
    margin-right: 10vw;
}

#speaker_logo {
    height: min(4vw, 8vh);
    float: inline-end;
    margin-top: 5vh;
    margin-right: 5vw;
}

#main_speaker_text {
    width: 30vw;
    text-align: justify;
}

#main_speaker_text h1 {
    font-size: min(2.7vw, 5.4vh);
    font-weight: 800;
}

#main_speaker_text h2 {
    font-size: min(1.5vw, 3vh);
    font-weight: 400;
    margin-top: -4vh;
}

#main_speaker_text p {
    font-size: min(1vw, 2vh);
}

#more_speakers_title {
    text-align: center;
    font-size: min(1.5vw, 3vh);
    font-weight: 400;
    margin-top: 5vh;
    padding-bottom: 5vh;
    /* on start */
    visibility: hidden;
    height: 0;
}

#more_speakers_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: min(-6vw, -12vh);
}

.speaker_card {
    background-color: #6B717E;
    width: min(20vw, 40vh);
    border-radius: min(1vw, 2vh);
    margin-bottom: 3vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.speaker_card h1 {
    font-size: min(1.5vw, 3vh);
    font-weight: 400;
    margin-left: 1vw;
}

.speaker_card h2 {
    font-size: min(1vw, 2vh);
    font-weight: 400;
    margin-left: 1vw;
}

.speaker_card p {
    margin-left: 1vw;
    font-size: min(1vw, 2vh)
}

.speaker_card .speaker_description {
    font-size: 0px;
    visibility: hidden;
}

.speaker_card:hover {
    cursor: pointer;
}

.speaker_image {
    width: min(20vw, 40vh);
    border-top-left-radius: min(1vw, 2vh);
    border-top-right-radius: min(1vw, 2vh);
}

/* Team Page */
#team_wrapper {
    display: block;
    align-items: center;
    height: 150vh;
    width: 100vw;
    margin-top: 70vh;
}

#team_text {
    width: 100%;
    margin-top: -70vh;
}

#team_container {
    margin-left: 5vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin-top: 5vh;
}

#team_title {
    font-size: min(2.8vw, 5vh);
    font-weight: 400;
    text-align: center;
}

#team_info {
    font-size: min(0.85vw, 1.5vh);
    text-align: justify;
    margin-left: 2vh;
    margin-right: 2vh;
}

.team_card {
    margin: 0px;
}

.team_image {
    width: min(10vw, 20vh);
    border-radius: min(1vw, 2vh);
}

.team_background {
    width: 25vw;
    height: 25vh;
    border-radius: min(1vw, 2vh);
    background: linear-gradient(to right, #4911a0, #330d90, #4911a0);
    border: 2px solid #e29eff;
}

.team_name {
    font-size: min(1.5vw, 2.5vh)
}

.team_position {
    font-size: min(1vw, 2vh)
}

@media (max-width: 1000px) { /* add 1 repeat at <1000px - test */
    #team_container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0vh;
    }

    #team_title {
        font-size: 3.5vh;
    }
    
    .team_background {
        width: 40vw;
        height: 12.5vh;
        border-radius: min(1vw, 2vh);
        border: 1px solid #e29eff;
    }

    .team_name {
        font-size: 1.75vh;
    }
    
    .team_position {
        font-size: 1.25vh;
    }
}

/* Venue Page */
#venue_map {
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-bottom: 50px;
}

#venue_title {
    font-size: max(3vw, 6vh);
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

#venue_text {
    margin-left: 7.8vw;
}

#venue_text h2 {
    font-size: max(1.5vw, 2.5vh);
    margin-left: 2vw;
}

#venue_text p {
    font-size: max(1vw, 1.75vh);
}

/* Schedule Page */
#schedule_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(2.6vw, 2vh);
}

#schedule_title {
    font-size: min(7.4vw, 5.2vh);
    font-weight: 400;
    text-align: center;
    margin-bottom: min(2.6vw, 2vh);
}

#schedule_header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.schedule_day {
    background-color: #6B717E;
    border-radius: min(2.6vw, 2vh);
    padding: min(2.6vw, 2vh);
    margin: min(2.6vw, 2vh);
    width: min(40vh, 600px);
    text-align: center;
}

.schedule_day h2, .schedule_day h3, .schedule_day h4, .schedule_day p {
    margin: 0.75vh 0;
}

.schedule_day h2 {
    font-size: min(5vw, 3.5vh);
    font-weight: 700;
    border: dotted;
    border-top-width: min(0.7vw, 0.4vh);
    border-left-width: min(0.7vw, 0.4vh);
    border-right-width: min(0.7vw, 0.4vh);
    border-bottom-width: 0px;
    border-color: lightgray;
}

.schedule_day h3 {
    font-size: min(3.3vw, 2.4vh);
    font-weight: 400;
    border: dotted;
    border-top-width: 0px;
    border-left-width: min(0.7vw, 0.4vh);
    border-right-width: min(0.7vw, 0.4vh);
    border-bottom-width: min(0.7vw, 0.4vh);
    border-color: lightgray;
}

.schedule_day h4 {
    font-size: min(2.6vw, 2vh);
    font-weight: 400;
    border: dotted;
    border-top-width: 0px;
    border-left-width: min(0.7vw, 0.4vh);
    border-right-width: min(0.7vw, 0.4vh);
    border-bottom-width: 0;
    border-color: lightgray;
}

.schedule_day p {
    font-size: min(2.5vw, 1.7vh);
    font-weight: 400;
    border: dotted;
    border-top-width: 0px;
    border-left-width: min(0.7vw, 0.4vh);
    border-right-width: min(0.7vw, 0.4vh);
    border-bottom-width: min(0.7vw, 0.4vh);
    border-color: lightgray;
}

/* About Page */
#about_body {
    background: linear-gradient(to right, rgb(7, 1, 47), rgb(30, 15, 96));
}

#about_title {
    width: max-content;
    height: max-content;
    padding-left: 1vw;
    margin-left: 2vw;
    margin-top: 0px;
}

#about_title_line {
    width: 0.5vw;
    height: min(13vw, 26vh);
    background-color: rgb(86, 1, 157);
    float: left;
    margin-left: -2vh;
    border-radius: 0.5vw;
}

#about_title h2 {
    font-size: min(2vw, 4vh);
}

#about_title h1 {
    font-size: min(4vw, 8vh);
    font-weight: 800;
    line-height: min(2vw, 4vh);
}

#about_text {
    background-color: rgb(44, 4, 103);
    width: 25vw;
    height: 25vh;
    padding: 1vw;
    clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
    margin: 1vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    z-index: 1;
}

#about_text p {
    margin: 0;
    padding: 1vw;
    font-size: min(2vw, 2vh);
}

.about_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-left: 2vw;
}

.about_handle {
    background-color: rgb(86, 1, 157);
    width: 1.25vw;
    height: 12.5vh;
    position: absolute;
    z-index: 2;
    clip-path: polygon(0% 0%, 45% 0%, 100% 15%, 100% 85%, 45% 100%, 0% 100%);
}

#about_handle_left {
    left: 1.75vw;
}

#about_handle_right {
    left: 28vw;
    transform: scaleX(-1);
}

#contact-us {
    position: absolute;
    top: 7.5vh;
    right: 7.5vw;
    font-size: min(3.5vw, 7vh);
    font-weight: 800;
}

#media_container {
    background-image: url('images/icons/media_container.svg');
    clip-path: polygon(
        0% 0%, 85.24% 0%, /* Top side */
        100% 8%, 100% 91.5%, /* Right side */
        85.24% 100%, 15% 100%, /* Bottom side */
        0% 91.5%, 0% 30% /* Left side */
    );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: min(1vw, 2vh);
    height: 70vh;
    position: absolute;
    top: 17.5vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    margin-left: 5vw;
    height: min-content;
}

.media:hover {
    cursor: pointer;
}

.contact_icon {
    width: min(3vw, 6vh);
    height: min(3vw, 6vh);
}

.contact_text {
    color: white;
    text-decoration: none;
    font-size: min(1.25vw, 2.5vh);
    padding-left: 0.5vw;
}

.collaborator {
    width: 10vw;
    padding: 1vw;
}

#quantum_robotics {
    margin-top: -1vh;
}

#collaborators_container {
    background-color: rgb(44, 4, 103);
    width: 40vw;
    height: 10vh;
    visibility: show;
    border-top: #4911a0 5px solid;
    border-left: #4911a0 5px solid;
    border-right: #4911a0 5px solid;
    border-bottom: #4911a0 5px solid;
    margin-top: 4vh;
    margin-left: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Previous Edition Page */

#previous_edition_title {
    font-size: 80px;
    text-align: center;
}

#previous_edition_laptop {
    width: 200px;
    display: block;
    margin: 0 auto;
}

#previous_edition_text {
    background-color: rgb(44, 4, 103);
    border-radius: 20px;
    width: 1400px;
    margin: auto;
}

#previous_edition_text p {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

#previous_edition_speakers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#previous_edition_speakers_title {
    margin-left: 20px;
}

.previous_speaker_card {
    background-color: #6B717E;
    width: min(18vw, 40vh);
    border-radius: min(1vw, 2vh);
    margin-bottom: 3vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.previous_speaker_name {
    font-size: min(1.5vw, 3vh);
    margin-top: 1vh;
    font-weight: 400;
    margin-left: 1vw;
}

.previous_speaker_company {
    font-size: min(1vw, 2vh);
    margin-top: -2vh;
    font-weight: 400;
    margin-left: 1vw;
    padding-bottom: 4vh;
}


.previous_speaker_image {
    width: min(18vw, 40vh);
    border-top-left-radius: min(1vw, 2vh);
    border-top-right-radius: min(1vw, 2vh);
}

/* Mobile Styles */
@media (orientation: portrait) {
    /*
        home page - triunghiuri de cercuri sus si jos
        about page - to be done
    */

    #about_title {
        width: max-content;
        height: max-content;
        padding-left: 1vw;
        margin-left: 4vw;
        margin-top: -2vh;
    }
    
    #about_title_line {
        width: 1vw;
        height: 15vh;
        background-color: rgb(86, 1, 157);
        float: left;
        margin-left: -1vh;
        border-radius: 0.5vw;
    }
    
    #about_title h2 {
        font-size: 2vh;
    }
    
    #about_title h1 {
        font-size: 4vh;
        font-weight: 800;
        line-height: 3vh;
    }

    #about_text {
        background-color: rgb(44, 4, 103);
        width: 60vw;
        height: 17.5vh;
        padding: 1vw;
        clip-path: polygon(5% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%, 0% 10%);
        margin: -0.5vh 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        position: relative;
        z-index: 1;
    }
    
    #about_text p {
        margin: 0;
        padding: 1vw;
        font-size: 1.4vh;
    }
    
    .about_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin-left: 2vw;
        margin-top: -1vh;
    }
    
    .about_handle {
        background-color: rgb(86, 1, 157);
        width: 1.5vw;
        height: 12vh;
        position: absolute;
        z-index: 2;
        clip-path: polygon(0% 0%, 45% 0%, 100% 15%, 100% 85%, 45% 100%, 0% 100%);
    }
    
    #about_handle_left {
        left: 1.75vw;
    }
    
    #about_handle_right {
        left: 63vw;
        transform: scaleX(-1);
    }

    #contact-us {
        position: absolute;
        top: 43.75vh;
        left: 18.5vw;
        font-size: 3vh;
        font-weight: 800;
    }
    
    #media_container {
        background-image: url('images/icons/media_container.svg');
        clip-path: polygon(
            0% 0%, 85.24% 0%, /* Top side */
            100% 8%, 100% 91.5%, /* Right side */
            85.24% 100%, 15% 100%, /* Bottom side */
            0% 91.5%, 0% 30% /* Left side */
        );
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: min(1vw, 2vh);
        height: 38vh;
        width: 50vw;
        position: absolute;
        top: 49vh;
        left: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .media {
        display: flex;
        align-items: center;
        margin-top: 1vh;
        width: 100%;
        margin-left: 15vw;
        height: min-content;
    }
    
    .contact_icon {
        width: 3.5vh;
        height: 3.5vh;
    }
    
    .contact_text {
        color: white;
        text-decoration: none;
        font-size: 1.25vh;
        padding-left: 0.5vw;
    }
    
    .speaker_card {
        background-color: #6B717E;
        width: min(30vw, 60vh);
        border-radius: min(2vw, 4vh);
        margin-bottom: 6vw;
        margin-right: 6vw;
        margin-left: 6vw;
    }

    .collaborator {
        width: 20vw;
        padding: 2vw;
    }
    
    #quantum_robotics {
        margin-top: -1vh;
    }
    
    #collaborators_container {
        background-color: rgb(44, 4, 103);
        width: 80vw;
        height: 10vh;
        visibility: show;
        border-top: #4911a0 2px solid;
        border-left: #4911a0 2px solid;
        border-right: #4911a0 2px solid;
        border-bottom: #4911a0 2px solid;
        margin-top: 45vh;
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .speaker_card h1 {
        font-size: min(3vw, 6vh);
        font-weight: 400;
        margin-left: 2vw;
    }
    
    .speaker_card h2 {
        font-size: min(2vw, 4vh);
        font-weight: 400;
        margin-left: 2vw;
    }
    
    .speaker_card p {
        margin-left: 2vw;
        font-size: min(2vw, 4vh)
    }
    
    .speaker_card .speaker_description {
        font-size: 0px;
        visibility: hidden;
    }
    
    .speaker_card:hover {
        cursor: pointer;
    }
    
    .speaker_image {
        width: min(30vw, 60vh);
        border-top-left-radius: min(1vw, 2vh);
        border-top-right-radius: min(1vw, 2vh);
    }
}